 /* Form style */

.formtitle {
    font-weight: bold;
    font-size: 28px;
    font-style: italic;
    font-family: 'Rubik', sans-serif;

    padding-top: 0;
  }
  
  form {
    width: 50ch;
    margin: auto;

    padding-top: 2rem;
    padding-bottom: 1rem；
  }
  
  /* Textfields */
  .text-fields p {
    display: flex;

    font-size: 16px;

    padding-top: 1rem;
    
    color: black;
  }
  
  .text-fields p label {
    width: 10ch;
  }
  
  .text-fields p input {
    flex: 1;

    max-width:30ch; 
    height: 2rem;

    margin-left: 5rem;
  }
  
  /* Make the require* orange*/
  abbr {
    color: orange;
  }
  

  /* submit button*/
  .formfooter {
    text-align: center;
  }

  .formfooter button {
    font-size: 16px;
    
    background-color: orange;
    color: black;

    width: 100px;
    height: 40px;

    margin-top: 3rem;
    margin-bottom: 2rem; 

    border-radius: 2rem;
  }
  
  .formfooter button:hover {
    color: grey;
  }
  
  .formfooter button:active { 
    color: rgb(0, 132, 255);
  }
  

  